@model IEnumerable<BeerStore.ViewModels.BeerVM>

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link href="~/lib/datatables/css/datatables.jqueryui.min.css" rel="stylesheet" />
}

<h1>Bierbrouwers (w.o. automapper)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrouwerNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoortNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alcohol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrouwerNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoortNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alcohol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            
        </tr>
}
    </tbody>
</table>
